{% extends "base.html" %}
{% load i18n %}
{% load l10n %}

{% block head_title %}Todo App{% endblock %}

{% block content %}
  <div class="row">
    <h1>{% trans 'Hello, World' %}</h1>
    <p>{% blocktrans %}This is a task list manager{% endblocktrans %}</p>
    <div class="medium-6 columns">
      <h2 id="local-date">{{today}}</h2>
      <p>This is the time using your local information</p>
    </div>
    <div class="medium-6 columns">
      <h2 id="non-local-date">{{today|unlocalize}}</h2>
      <p>This is the default time format</p>
    </div>
  </div>
{% endblock %}
