{% load staticfiles %}

<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block head_title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
    <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
    <script src="{% static 'foundation/js/vendor/jquery.js' %}"></script>
    <script src="{% static 'foundation/js/vendor/fastclick.js' %}"></script>
    <script src="{% static 'foundation/js/foundation.js' %}"></script>
  </body>
</html>
